<!DOCTYPE html>
<html>
  <head>
    <title>
      TicTacToe
    </title>
  </head>
  <body>
    <h1>Welcome to Tic Tac Toe!</h1>
    <form action="/" method="POST">
      <table>
        <% 3.times do |i| %>
        <tr>
          <% 3.times do |j| %>
            <% index = i*3+j %>
            <% value = @game.board[index] %>
            <% readonly = value == "X" || value == "O" ? true : false %>
            <td><input type="text" name="<%= index %>" value="<%= value %>" readonly=<%= readonly %> /></td>
          <% end %>
        </tr>
        <% end %>
      </table>

    <input type="submit" value="Submit Move" id="submit" />
    </form>
  </body>
</html>